<%- include('partials/header.ejs'); -%>



<div class = "container text-center">
    <% if (locals.success) { %>
        <h5 style = "color: red;" id = "register"><%= success %></h5>
    <% } %>
        <form method = "POST" action = "/edit-post" class = "pt-2 starting">
            <input name="post_id" type="text" class="feedback-input" placeholder="id to be edited" />
            <input name="username" type="text" class="feedback-input" placeholder="your username" />
            <input name="password" type="password" class="feedback-input" placeholder="shhh..secret(password)" />
            <input name="title" type="text" class="feedback-input" placeholder="title(optional)" />
            <input name="content" type="text" class="feedback-input" placeholder="content(optional)" />
            <input type="submit" value="SUBMIT" />
        </form>
</div>



<%- include('partials/footer.ejs'); -%>