<%- include('partials/header.ejs'); -%>

<div class = "container">
<main class="form-signin w-100 m-auto">
    <form id = "center" method = "POST" action = "/register">
      <% if (locals.warning) { %>
        <div class="alert alert-danger"><%= warning %></div>
      <% } %>
      <h1 class="h3 mb-3 fw-normal">Register as a new User!</h1>
  
      <div class="form-floating">
        <input name = "username" class="form-control" id="floatingInput" placeholder="user_name">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating mb-5">
        <input type="password" name = "password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
    </form>
</main>
</div>

<%- include('partials/footer.ejs'); -%>