#register {
    margin-top: 50px;
  }
  
.starting {
    margin-top: 50px;
}
.feedback-input {
    color: black;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #3586ff;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
  }
  
  .feedback-input:focus {
    border: 2px solid #3586ff;
  }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }
  
  [type="submit"] {
    width: 100%;
    background: #3586ff;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
  }
  [type="submit"]:hover {
    background: #3586ff;
  }


.playwrite-ng-modern-title {
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-size: 2rem;
}

#center {
  margin-top: 25vh
}

.form-group {
  margin-bottom: 10px;
  font-size: 1.5rem;
  display: flex;
  gap: 6%
}

@media (max-width: 530px) {
  .identifier {
    flex-direction: column;
  }
  .padding-t{
    padding-top: 48px;
  }
  .shrink {
    width: 80%;
  }
}

body {
  background: linear-gradient(300deg, #7da8b7, #7782e9, #7ed0f3, #f98262);
  background-size: 300% 300%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

img {
  border-radius: 7%;
}

.custom-box {
  box-shadow: 
      rgba(0, 0, 0, 0.25) 0px 54px 55px, 
      rgba(0, 0, 0, 0.12) 0px -12px 30px, 
      rgba(0, 0, 0, 0.12) 0px 4px 6px, 
      rgba(0, 0, 0, 0.17) 0px 12px 13px, 
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



